.container
  margin-top 2rem
  
.thumbnail
  border none
  box-shadow none
  
  &:hover
    background #eee
  
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments
