.clearfix
  != form.label("title")
  .input
    != form.input("title")
.clearfix
  != form.label("content")
  .input
    != form.input("content")
.clearfix
  != form.label("createdAt")
  .input
    != form.input("createdAt")
