.page-header
  h1 Index of posts
  != link_to('Back to home', '/')

- posts.forEach(function (post) {
  .row
    .span3
      h2= post.title
      p= post.content
    .span9
      != link_to('Edit', path_to.edit_post(post), {class: 'btn primary'}) + ' '
      != link_to('Delete', path_to.post(post), {class: 'btn danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'})
- });

hr

.well
  != link_to('New post', path_to.new_post, {class: 'btn'})
