.page-header
  h1 New post

- form_for(post, {action: path_to.posts, method: 'POST', id: "post_form"}, function (form) {
  != partial('posts/form.jade', {locals: {form: form, post: post}})
  .actions
    != form.submit('Create post', {class: 'btn'})
    span= ' or '
    != link_to('Cancel', path_to.posts, {class: 'btn'})
- });
